@page "/productos/create" /*Define la ruta para acceder a esta página*/
@using Microsoft.EntityFrameworkCore
@using BlazorCRUD.Models
@inject IDbContextFactory<BlazorCRUD.Data.MyAppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Crear</h1>

<h2>En Esta Página Puedes Crear el Producto que Quieras</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Producto" OnValidSubmit="AddProducto" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />


            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label> 
                <InputText id="nombre" @bind-Value="Producto.Nombre" class="form-control" /> 
                <ValidationMessage For="() => Producto.Nombre" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="precio" class="form-label">Precio:</label> 
                <InputNumber id="precio" @bind-Value="Producto.Precio" class="form-control" /> 
                <ValidationMessage For="() => Producto.Precio" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="qty" class="form-label">Qty:</label> 
                <InputNumber id="qty" @bind-Value="Producto.Qty" class="form-control" /> 
                <ValidationMessage For="() => Producto.Qty" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button> |
            <a href="/productos" class="btn btn-outline-secondary">Regresar</a>
        </EditForm>
    </div>
</div>



@code {
    [SupplyParameterFromForm]
    private Producto Producto { get; set; } = new();

    // Método que se ejecuta al enviar el formulario.
    private async Task AddProducto()
    {
        using var context = DbFactory.CreateDbContext(); // Crea una nueva instancia del contexto de la base de datos.
        context.Producto.Add(Producto); //Agrega el nuevo Producto 
        await context.SaveChangesAsync(); // se guarda en la base de datos
        NavigationManager.NavigateTo("/productos"); //regresamos a la lista de productos 
    }
}
