@page "/"

<PageTitle>Home</PageTitle>

<style>
    .presentation-container {
        text-align: center;
        padding: 50px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 20px auto;
        max-width: 600px;
    }

    h1 {
        font-size: 2.5rem;
        color: #343a40;
    }

    p {
        font-size: 1.2rem;
        color: #6c757d;
    }

    .student-info {
        font-weight: bold;
        font-size: 1.2rem;
        color: #007bff;
    }
</style>

<div class="presentation-container">
    <h1>Deber CRUD</h1>
    <p class="student-info">Estudiante: Ignacio Fonte</p>
    <p>Este proyecto es una aplicación CRUD (Crear, Leer, Actualizar, Eliminar) diseñada para gestionar productos de manera eficiente y sencilla.</p>
    <p>Utilizar Blazor para ofrecer una experiencia de usuario moderna y dinámica</p>
</div>
